body {
	background: #252120;
}

/* The circle */
.error-emitter {
  position: relative;
  margin: 32px auto;
  width: 60px;
  height: 60px;
  border-radius: 9999px;
  background-color: #A92F41;
}

/* the 'wave', same shape and size as its parent */
.error-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: #A92F41;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.error-wave {
  animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
